<h1> Hello from EJS </h1>

<form>
    <p>Tell us your name or something!</p>
    <input type="text" name="ejsFormName" value="<%=myName %>">
    <input type="submit" method="get" action="/name">
</form>